[Unit]
Description=Reticulum Gateway
Wants=network-online.target
After=network-online.target
StartLimitIntervalSec=0

[Service]
Type=simple
User=rns
Group=rns
AmbientCapabilities=CAP_NET_BIND_SERVICE
CapabilityBoundingSet=CAP_NET_BIND_SERVICE
NoNewPrivileges=true
Environment=HOME=/var/lib/rns
WorkingDirectory=/opt/reticulum-gateway/gateway
ExecStart=/usr/bin/python3 /opt/reticulum-gateway/gateway/gateway.py
Restart=always
RestartSec=5
ExecStartPost=/bin/sh -c 'hostname -I > /var/lib/rns/ip.txt || true'

[Install]
WantedBy=multi-user.target
